.modal {
  max-width: 90vw;
  margin: auto;
}

.modal-content {
  max-width: 90vw;
}

.blogImg {
  width: 100%;
  height: 100px;
}

.service--title {
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: #000;
}

.see-btn {
  margin-top: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

.see-btn:hover,
.see-btn:focus {
  box-shadow: 0 0 8px rgb(27, 29, 30);
}

.see-btn:hover .btn,
.see-btn:focus .btn {
  opacity: 0;
  transform: translate(0, 100%);
}

.see-btn:hover .btn_hover,
.see-btn:focus .btn_hover {
  opacity: 1;
  transform: translate(0, 0);
}

.paragraph {
  padding: 10px 15px;
  border: 2px solid rgb(232, 238, 241);
  box-shadow: 0 9px 8px rgb(227, 236, 239);
  color: hwb(0 100% 0%);
}

.paragraph:hover
.paragraph:focus {
  background: transparent;
  border: 2px solid rgb(16, 182, 243);
  color: #fff;
}