#service {
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.main--service {
  width: 90vw;
  display: flex;
  margin: auto;
  gap: 30px;
}

.service-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
  background: #172551;
  font-size: 45px;
  padding: 1rem;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .main--service {
    flex-direction: column;
  }
}