.service--title {
  color: #fff;
  background: #172551;
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
  font-weight: 900;
  font-size: 24px;
  border-radius: 25px;
}

.map--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  margin: 1rem;
  width: calc(45.45% - 2rem);
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.image--container {
  position: relative;
  overflow: hidden;
}

.service--content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(3, 9, 25, 0.85);
  color: #fff;
  padding: 15px;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.service-card:hover .service--content {
  transform: translateY(0);
  width: fit-content;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.service--content h2 {
  margin: 0;
  font-size: 1.5rem;
}

.service--content p {
  margin: 0;
  padding-left: 3px;
}

.image--container img {
  display: block;
  width: fit-content;
  height: 100%;
  transition: transform 1.5s ease-in-out;
}

.image--container:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .service--title {
    margin-bottom: 1.5rem; /* Adjusted margin for smaller screens */
  }

  .service-card {
    width: calc(100% - 2rem); /* Displaying cards in a single column */
    margin: 1rem auto; /* Centering cards */
  }
}
