.port--container {
  margin: auto;
  display: flex;
  max-width: 90vw;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.port--heading {
  color: #fff;
  background: #172551;
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 28px;
  border-radius: 25px;
}